@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=Inknut+Antiqua&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Tangerine&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Libre Baskerville", serif;
}

.nav-container {
  @apply w-full text-center hover:bg-red-700/75 px-3 py-2;
}

.nav-active {
  @apply w-full text-center bg-red-700/75 px-3 py-2;
}

.nav-link {
  font-family: "Cormorant Garamond", serif;
  color: white;
}

.book-cover {
  height: 600px;
  transition: 1s;
}

.book-cover:hover {
  height: 660px;
  transition: 1s;
}

.dd {
}

.dd:hover {
}

.preview-button {
  position: absolute;
  bottom: 50%;
  right: 42%;
  margin: 0;
  opacity: 0;
  transition: 1s;
  background-color: #d99c19;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.preview-button:hover {
  background-color: #da8027;
}

.dd:hover .preview-button {
  opacity: 1;
  transition: 1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  left: 25%;
  border: 1px solid #ccc;
  width: 50%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.insta-box {
}
.insta-title {
}

.insta-box:hover .insta-title {
  color: rgb(182, 20, 20);
  transition: 0.5s;
}
.insta-photo {
  width: 40%;
  height: fixed;
  margin: 0.5rem;
}

.contact_input {
  @apply w-full rounded-md border border-gray-800 bg-transparent placeholder:text-gray-600 py-3 px-6 text-black outline-none focus:border-red-500 focus:shadow-md;
}

.contact_btn {
  @apply block my-5 text-center font-bold py-2 px-4 rounded;
  transition: 1s;
}

.contact_btn:hover {
  transition: 1s;
}
