@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/Sunset\ Web\ Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.nav-container {
  @apply w-full text-center hover:bg-red-700/75 rounded-md px-3 py-2;
}

.nav-active {
  @apply w-full text-center bg-red-700/75 rounded-md px-3 py-2;
}

.nav-link {
  @apply text-white text-sm font-medium;
}

.book-cover {
  height: 600px;
  transition: 1s;
}

.book-cover:hover {
  height: 660px;
  transition: 1s;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.contact_input {
  @apply w-full rounded-md border border-gray-800 bg-transparent placeholder:text-gray-600 py-3 px-6 text-base font-medium text-black outline-none focus:border-red-500 focus:shadow-md;
}

.contact_btn {
  @apply block my-10 text-center font-bold py-2 px-4 rounded;
  transition: 1s;
}

.contact_btn:hover {
  transition: 1s;
}
