@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://res.cloudinary.com/dh2hxvsxw/image/upload/v1699538285/darius_website/sun.jpg);
  background-position: 36% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

p {
  font-family: var(--font-baskerville), serif;
}

a {
  cursor: pointer;
}

.nav-container {
  @apply w-full text-center hover:bg-red-700/75 px-3 py-2;
}

.nav-active {
  @apply w-full text-center bg-red-700/75 px-3 py-2;
}

.nav-link {
  font-family: var(--font-garamond), serif;
  color: white;
}

.book-cover {
  transition: 1s;
  margin: 3rem;
}

.book-cover:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
}

.dd {
}

.dd:hover {
}

.preview-button {
  position: absolute;
  bottom: 45%;
  right: 42%;
  margin: 0;
  opacity: 0;
  transition: 1s;
  background-color: #d99c19;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.preview-button:hover {
  background-color: #da8027;
}

.dd:hover .preview-button {
  opacity: 1;
  transition: 1s;
}

.description {
  @apply flex flex-col justify-between bg-stone-800 lg:w-1/2 2xl:w-1/3 px-5 mx-8 mb-10;
  min-height: 650px;
}
.description-title {
  @apply text-white text-center md:text-lg xl:text-xl 2xl:text-2xl mt-10 leading-loose pb-3 border-b-2;
  font-family: var(--font-baskerville), serif;
}

.dd-review {
  @apply text-base md:w-1/3 mx-3 my-8;
}

.responsive {
  @apply md:text-base lg:text-lg xl:text-xl;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  left: 25%;
  border: 1px solid #ccc;
  width: 50%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 2;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.insta-box {
  max-height: 700px;
  overflow: hidden;
}
.insta-title {
  font-family: var(--font-baskerville), serif;
}

.insta-box:hover .insta-title {
  color: rgb(182, 20, 20);
  transition: 0.5s;
}
.insta-photo {
  width: 40%;
  margin: 0.5rem;
}

.contact_input {
  @apply w-full rounded-md border border-gray-800 bg-transparent placeholder:text-gray-600 py-3 px-6 text-black outline-none focus:border-red-500 focus:shadow-md;
}

.contact_btn {
  @apply block my-5 text-center font-bold py-2 px-4 rounded;
  transition: 1s;
}

.contact_btn:hover {
  transition: 1s;
}

@media (max-width: 768px) {
  .insta-photo {
    width: 60px;
  }

  .book-cover {
    height: 50vh;
    margin: 1rem;
  }
  .content {
    width: 100%;
    left: 0%;
    height: 80%;
    top: 20%;
  }
  .preview-button {
    opacity: 1;
    right: 35%;
  }
}
