.logo {
  object-fit: cover;
  height: 6.8rem;
  position: fixed;
  top: 0px;
  left: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  margin-bottom: 80px;
  width: 100%;
  z-index: 1;
}
.title {
  @apply sticky top-0 flex flex-col justify-center pt-8;
  width: 50%;
  max-width: 670px;

  h4 {
    font-size: 1.5rem;
    font-family: var(--font-cinzel), serif;
    font-weight: bold;
  }
}

// .subnav {
//   position: absolute;
//   right: 7rem;
// }

.navRight {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;

  .navLinks {
    @apply bg-gray-700/75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0px;
  }
}

.navContainer {
  @apply w-full text-center hover:bg-red-700/75 px-3 py-2;
}

.navActive {
  @apply w-full text-center bg-red-700/75 px-3 py-2;
}

.navLink {
  font-family: var(--font-garamond), serif;
  color: white;
}

.subnav {
  @apply bg-gray-700/75 absolute w-44 list-none;
  right: 6.2rem;
  top: 0px;
}

@media (max-width: 768px) {
  // .navbar {
  //   background: #f3b286;
  //   position: fixed;
  //   width: 100%;
  //   margin-bottom: 24px;
  // }

  // .navRight {
  //   position: absolute;
  //   margin-right: 0px;
  // }
  .title {
    h4 {
      font-size: 1rem;
    }
  }

  .logo {
    height: 4rem;
  }

  .navLink {
    font-size: small;
  }

  .subnav {
    right: 2.3rem;
  }
}
