@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=Inknut+Antiqua&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Tangerine&display=swap");

.logo {
  object-fit: cover;
  height: 6.8rem;
  position: fixed;
  top: 0px;
}

.title {
  @apply grow sticky top-0;

  h1 {
    font-family: "Inknut Antiqua", serif;
    font-size: 3rem;
    font-weight: 600;
    background: -webkit-linear-gradient(#ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50%;
  }

  h4 {
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
    font-weight: bold;
  }

  .feather {
    display: inline;
    margin: 0px -13px 4px -10px;
    rotate: -8deg;
    height: 4rem;
  }
}

.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  padding-bottom: 80px;
}

.subNav {
  position: absolute;
  right: 5rem;
}

.navRight {
  position: fixed;
  right: 0px;
  top: 0px;

  .navLinks {
    @apply bg-gray-700/75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0px;
  }
}

.nav-container {
  @apply w-full text-center hover:bg-red-700/75 rounded-md px-3 py-2;
}

.nav-active {
  @apply w-full text-center bg-red-700/75 rounded-md px-3 py-2;
}

.nav-link {
  @apply text-white text-sm font-medium;
}

.subnav {
  @apply bg-gray-700/75 absolute w-44 list-none;
  right: 6rem;
  top: 0px;
}
